$default-dark: #111418;

$default-dark-gray: #302f2d;
$darker-gray: #1c1c1b;

/* RED */
$default-red: #fc0341;
$lighter-red: #f5567d;
$darker-red: #940025;

/* GREEN */
$default-green: #08c274;
$lighter-green: #2ff5a2;
$darker-green: #00804a;

/* YELLOW */
$default-yellow: #ffb10a;
$lighter-yellow: #f7c559;
$darker-yellow: #d69302;

/* BLUE */
$default-blue: #03a5fc;
$lighter-blue: #2aaff7;
$darker-blue: #016194;

/* WHITE */
$default-white: #fff;
$lighter-white: #fff;
$darker-white: #fcfaf9;

/* PURPLE */
$default-purple: #b602de;
$lighter-purple: #80039c;
$darker-purple: #cd02fa;

/* ORANGE */
$default-orange: #d66f00;
$lighter-orange: #c46500;
$darker-orange: #f7850a;

.red {
  color: $default-red;
}

.red-bg {
  background-color: $default-red;
}

.red-border {
  border: $small solid $darker-red;
}

.green {
  color: $default-green;
}

.green-bg {
  background-color: $default-green;
}

.green-border {
  border: $small solid $darker-green;
}

.blue {
  color: $default-blue;
}

.blue-bg {
  background-color: $default-blue;
}

.blue-border {
  border: $small solid $darker-blue;
}

.white {
  color: $default-white;
}

.white-bg {
  background-color: $default-white;
  color: $default-dark;
}

.white-border {
  border: $small solid $darker-white;
}

.yellow {
  color: $default-yellow;
}

.yellow-bg {
  background-color: $default-yellow;
}

.yellow-border {
  border: $small solid $darker-yellow;
}

.purple {
  color: $default-purple;
}

.purple-bg {
  background-color: $default-purple;
}

.purple-border {
  border: $small solid $darker-purple;
}

.orange {
  color: $default-orange;
}

.orange-bg {
  background-color: $default-orange;
}

.orange-border {
  border: $small solid $darker-orange;
}
