$default-dark: #111418;
$default-white: #fff;

$default-dark-gray: #302f2d;
$darker-gray: #1c1c1b;

/* RED */
$default-red: #fc0341;
$lighter-red: #f5567d;
$darker-red: #940025;

/* GREEN */
$default-green: #08c274;
$lighter-green: #2ff5a2;
$darker-green: #00804a;

/* YELLOW */
$default-yellow: #ffb10a;
$lighter-yellow: #f7c559;
$darker-yellow: #d69302;

.red {
    color: $default-red;
}

.red-bg {
    background-color: $default-red;
}

.red-border {
    border: 5px solid $darker-red;
}