$default-dark: #21130d;
$default-white: #fff;

/* RED */
$default-red: #fc0341;
$lighter-red: #f5567d;
$darker-red: #940025;

/* GREEN */
$default-green: #08c274;
$lighter-green: #2ff5a2;
$darker-green: #00804a;
