$small: 0.3rem;
$moderate: 0.6rem;
$large: 1.25rem;

@mixin rounded-5px {
  border-radius: $small;
}

@mixin rounded-10px {
  border-radius: $moderate;
}

@mixin minimal-padding {
  padding: $small;
}

@mixin moderate-padding {
  padding: $moderate;
}

.minimal-margin {
  margin: $small;
}

.moderate-margin {
  margin: $moderate;
}

.large-margin {
  margin: $large;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evenly-spaced {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.circle {
  border-radius: 50% !important;
}

.minimal-gap {
  gap: $small;
}

.moderate-gap {
  gap: $moderate;
}

.flex-center {
  align-items: center;
  justify-content: center;
}
